<!doctype html>
<html lang="{{ site:short_locale }}">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {{ title ?? site:name }}
    </title>
    {{ vite }}
</head>

<body class="font-sans leading-normal text-gray-800 bg-gray-100">
    <div class="flex items-center justify-center h-screen px-2 mx-auto">
        {{ template_content }}
    </div>
</body>

</html>
